*
{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

:root
{
    --primary: #B4D4EC;
    --secondary: #F5FBFF;
    --accent: #63a9df;
   
    --radius: 5px;
}
body
{
    margin:0;
}

.sp_btw
{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.flex
{
    display:flex;
}
.wrapper
{
    max-width: 1200px;
    margin: 0 auto;
}

a
{
    color:var(--accent);
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
input
{
    outline:none;
    border:none;
    padding: 8px;
    border-radius: 10px;
}
button
{
    padding: 6px 12px;
    border:none;
    outline:none;
    border-radius: 4px;
    background-color:var(--accent);
    color:white;
    font-weight: bold;
    cursor:pointer;
    box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 20%);
}

h1, h2, h3, h4, h5, b
{
    margin:0;
    color:#013a66;
}
/**********************HEADER*********************/
header
{
    background-color: var(--primary);
    padding: 10px 0;
}

header .search
{
    width: 350px;
    background-color: white;
    border-radius: 10px;
}
header .search i
{
    background-color: var(--accent);
    border-left: 1px solid var(--primary);
    padding:8px;
    padding-right: 12px;
    border-radius: 0 10px 10px 0;
    color:white;
}
header nav a
{
    color: #013a66;
    margin-left: 15px;
}
header nav a:hover
{
    text-decoration: none;
}
header nav a i
{
    color: #013a66;
    margin-right: 6px;
    font-size: 1.2em;
}
header nav a:hover
{
    border-bottom: 3px solid black;
}
header .user_image img
{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
/**********************MAIN*********************/
main
{
    padding: 70px 0;
}
aside
{
    width:25%;  
    position: relative;
}
.abonnieren, .vorschlage, .trends
{
    border-radius: var(--radius);
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 0px var(--primary);
    -webkit-box-shadow: 0px 0px 5px 0px var(--primary);
}
.vorschlage .user_image button
{
    margin-left: 10px;
}
.vorschlage small
{
    color:rgb(129, 129, 129);
}
.abonnieren .show_more, .vorschlage .show_more 
{
    text-align: right;
}
/**************** MAIN - Center column **********/
.container
{
   width: 50%;
   margin: 0 20px;
}
.teilen, .paylasimlar
{
    background-color: var(--primary);
    box-shadow: 0px 0px 5px 0px var(--primary);
    -webkit-box-shadow: 0px 0px 5px 0px var(--primary);
    border-radius: var(--radius);
    padding: 15px;
}
.teilen
{
    text-align: right;
    margin-bottom: 20px;
}
.teilen textarea
{
    width:100%;
    margin: 10px 0;
    padding: 10px;
    border:none;
    outline:none;
    border-radius: 4px;
}
.teilen button
{
    padding: 6px 12px;
    border:none;
    outline:none;
    border-radius: 4px;
    background-color:var(--accent);
    color:white;
    font-weight: bold;
    cursor:pointer;
    box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 20%);
}
.paylasimlar 
{
    background-color: white;
}
.user_image
{
    padding: 10px 0;
    display: flex;
    align-items: center;
}
 .user_image img
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid var(--accent);
    margin-right: 20px;
}
.box
{
    background-color:var(--secondary);
    margin: 15px 0;
    padding: 10px 15px;
    border-radius: var(--radius);
}
h4
{
    margin-bottom: 10px;
}

.content
{
    margin: 15px 0;
    color:rgb(99, 97, 97);
}
.content_unten
{
   display:flex;
   padding: 10px;
   border-top: 1px solid var(--primary); 
}
.content_unten .like i
{
    color: red;
}
.content_unten .comment i
{
    color: rgb(164, 167, 0);
}
.content_unten div
{
    margin-right: 15px;
}

.nachrichten
{
    width: 100%;
    display: flex;
    justify-content: right;
}

.nachrichten button
{
    width: 80px;
    height:80px;
    font-size: 3em;
    border-radius: 50%;

    
    position: fixed;
    bottom:20px;


    display: flex;
    justify-content: center;
    align-items: center;

    
}
